@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --lightgray: #E0E0E0;
    --black: #333333;
    --blue: #2D9CDB;
    --white: #F2F2F2;
}

* {
    margin: 0;
    font-family: Roboto, Poppins;
    color: var(--black);
    scroll-behavior: smooth;
}

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    background: linear-gradient(93.38deg, #2D9CDB 0%, #56CCF2 100%);
}

span {
    color: var(--blue);
}

th, td {
    padding: 0.4rem;
}

.site_title {
    color: var(--white);
    font-size: 2rem;
    padding-left: 2.188rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.data {
    display: flex;
    justify-content: space-between;
    padding-left: 2.188rem;
    padding-right: 2.188rem;
}

.names {
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.container {
    align-items: flex-start;
    display: flex;
}

.subjects {
    color: var(--black);
    font-size: 1.875rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.left_sidebar {
    background: #FFFFFF;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 2.188rem;
    padding-left: 1.563rem;
    padding-top: 1.563rem;
    width: 17vw;
}

ul {
    list-style: none;
    /* margin-top: 1rem; */
    padding-bottom: 9rem;
}

ul li ::before {
    content: "\2022"; /* 2022 is the unicode code for the bullet*/
    color: var(--black);
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.subject_num {
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding-top: 0.2rem;
}

.right_sidebar {
    background: #FFFFFF;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: 4.375rem;
    margin-right: 2.188rem;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
    padding-top: 1.563rem;
    width: 83vw;
}

table, th, td {
    border: 1px solid var(--lightgray);
    border-collapse: collapse;
}

table {
    margin-bottom: 1rem;
}

td > p {
    padding-top: 0.3rem;
}

@media only screen and (max-width:600px) {
    
    .container {
        display: block;
    }

    .left_sidebar {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .left_sidebar ul {
        padding-bottom: 4rem;
    }

    .right_sidebar {
        width: 80%;
        margin: 0 auto;
    }

    main {
        padding-bottom: 2rem;
    }

}
