.padre {
    background-color: pink;
    border: 1px solid gray;
}

div a {
    background-color: #009cde;
    color: #fff;
    text-decoration: none;
}

div div div a {
    background-color: red;
    color: yellow;
}

#abuelo {
    border: 1px solid gray;
    background-color: #ddd;
}
